---
import Layout from '@layouts/default.astro';
import WorkCard from '@components/WorkCard.astro';
import {getCollection} from 'astro:content';
import {compareDesc} from 'date-fns';

const works = (await getCollection('works')).sort((a, b) => compareDesc(new Date(a.data.date), new Date(b.data.date)));
const publicWorks = process.env.NODE_ENV === 'development' ? works : works.filter((work) => work.data.draft !== true);
---

<Layout title="COLORMONO'S WORKS" description="Mariano Rivas's artworks.">
  <section class="container lg:py-20">
    <div class="mb-12 flex justify-end">
      <div class="text-base">
        <strong>Layout</strong> List, Grid, Masonry, Carousel, etc.
      </div>
    </div>

    <div class="relative grid gap-10 lg:grid-cols-1 lg:gap-20">
      {publicWorks.map((item) => <WorkCard item={item} />)}
    </div>
  </section>
</Layout>
