---
const {title} = Astro.props;
---

<section id="home-hero" class="md:container">
  <div class="relative flex items-center overflow-hidden bg-background lg:mb-24 lg:mt-32">
    <div class="relative z-30 xl:w-3/5">
      <h1 class="relative mb-8 inline-block max-w-4xl text-7xl tracking-tighter 2xl:text-8xl">
        {title}
      </h1>
      <h2 class="mb-8 max-w-3xl text-2xl leading-normal">
        <slot />
      </h2>
    </div>
  </div>
</section>

<style is:inline>
  #home-hero {
    a {
      font-weight: 600;
      text-decoration-line: underline;
      text-underline-offset: 4px;
    }
  }
</style>
