---
import LabCard from '@components/LabCard.astro';
import {getCollection} from 'astro:content';
import {compareDesc} from 'date-fns';

const allPosts = (await getCollection('lab')).sort((a, b) => compareDesc(new Date(a.data.date), new Date(b.data.date)));
const publicPosts = allPosts.filter((post) => post.data.draft !== true);
const latestPosts = process.env.NODE_ENV === 'development' ? allPosts.slice(0, 3) : publicPosts.slice(0, 3);
// latestPosts.map((item) => console.log("🚀 ~ item:", item.id))
---

{
  latestPosts?.length > 0 && (
    <section class="container mt-20">
      <h6 class="text-xs uppercase tracking-wider text-muted-foreground">Lab's latest</h6>

      <div class="my-5 grid gap-10 lg:grid-cols-3 xl:gap-20">
        {latestPosts.map((item) => (
          <LabCard item={item} sameHeight />
        ))}
      </div>

      <div class="flex items-center gap-8">
        <hr class="grow border-dotted" />
        <a
          href="/lab"
          class="block rounded-full bg-muted px-6 py-3 text-center text-sm font-semibold"
          aria-label="Works page"
        >
          VISIT LAB &rarr;
        </a>
      </div>
    </section>
  )
}
