---
layout: base.njk
tags: work
title: Hasta las Estrellas
date: 2016-01-09
---

<hgroup>
  <p class="type"><span>Interactive Sculpture</span></p>
  <h1>Cultura del Silencio</h1>
</hgroup>

<div class="body">
  <div class="slick-slider">
    <div class="item">
      <img
        src="img/media/culturadelsilencio-r1.jpg"
        alt="Cultura del Silencio"
      />
    </div>
    <div class="item">
      <img
        src="img/media/culturadelsilencio-r2.jpg"
        alt="Cultura del Silencio"
      />
    </div>
    <div class="item">
      <img
        src="img/media/culturadelsilencio-r3.jpg"
        alt="Cultura del Silencio"
      />
    </div>
    <div class="item">
      <img
        src="img/media/culturadelsilencio-r4.jpg"
        alt="Cultura del Silencio"
      />
    </div>
  </div>
  <!-- /.slick-slider -->
  <p>
    <strong>Trabajo Universitario.</strong> Cultura del silencio es un objeto
    standalone interactivo que reacciona al sonido producido por los
    espectadores. Una estructura vertical sostiene un garrote de policía en un
    extremo que golpea cuando el usuario se hace escuchar.
  </p>
</div>

<p class="date">Junio 2015</p>
